@import '../common/common.css';

.note_page_box {
	text-align: center;
	min-width: 1080px;
	position: relative;
}
.note_box {
	width: 720px;
	padding: 10px;
	margin-top: 10px;
	margin-left: -260px;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0px 0px 10px #999 inset;
}
.note_title {
	text-align: center;
}
.note_info {
	text-align: left;
	color: #B6B4B4;
}
.note_info span {
	margin-left: 5px;
}
.note_info span:nth-child(1) {
	margin-left: 0;
}
.note_author a {
	text-decoration: none;
	color: #461FF3;
}
.note_author a:hover {
	text-decoration: underline;
}
.note_time {
	float: right;
}
.content {
	position: relative;
	text-align: left;
	padding: 30px 10px;
}
.opera_menu {
	position: fixed;
	display: inline-block;
	margin-left: 15px;
	margin-top: 8px;
}
.opera_style {
	width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 28px;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #cecdcd;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}
.opera_add {
	background-color: #40ee28;
}
.opera_showidea {
	background-color: #F4F63D;
	line-height: 26px;
}
.note_comment_box {
	position: fixed;
	display: inline-block;
	margin-left: 15px;
	margin-top: 50px;
	// width:300px;
	// height:500px;
	// border: 1px solid #156;
}
.nosureyet {
	margin: 10px;
	border-top: 2px solid #ddd;
}
.canvasSize{z-index: 2;position: absolute;top:0;left: 0;}
.pencilIcon {
	display: none;
	position:absolute;
	z-index: 4;
	background-image: url('./39.png');
	background-repeat: no-repeat;
    background-position: center;
}
.hoverdialogcss{
	position: absolute;
	border: solid 1px #cecdcd;
	background-color: #5378d9;
	color: #ffffff;
	padding:10px; 
	max-width:200px; 
	border-radius: 5px; 
	z-index: 2;
}
.list{
	border: 2px solid #ddd;
	height: auto;
	width: 250px;
	padding: 4px;
	box-shadow: 4px 4px 2px #CBCACA;
}
.list div+div {
	border: 1px solid #ddd;
	margin-bottom: 5px;
	padding: 4px;
	cursor: pointer;
}
.listposition{
	// position: absolute;
	// left: 750px;
	visibility: hidden;
}
.listTitle{
	text-align: center; 
	padding: 2px;
	// background-color: #99f09d;
	font-size: 20px;
	margin:1px 65px 6px;
	box-shadow: 0px 0px 12px #CBCACA;
	border-radius: 15px;
}
.postilBarFocus{border:2px solid #ADA4A4;background:#7EB4DE;color:#fff;}
.postilBar{border-color:#ddd;background:#fff;color:#000;}

.comment_window {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.comment_container {
	position: fixed;
	width: 250px;
	margin-left: 50%;
	left: -110px;
	top: 100px;
	background-color: #fff;
	height: 280px;
}
.window_title {
	background-color: #1f7fe4;
	color: #fff;
	text-align: left;
	height: 30px;
	padding: 0px 10px;
	line-height: 30px;
}
.window_title .close {
	float: right;
	width: 30px;
	text-align: center;
	font-size: 20px;
}
.window_title .close:hover {
	color: #000;
	cursor: pointer;
}
.window_content {
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
	font-size: 18px;
	height: 220px;
}
.window_footer {
	background-color: #1f7fe4;
	color: #fff;
	height: 30px;
	line-height: 30px;
}
.window_add {
	float: right;
	width: 50px;
	padding: 0 5px;
}
.window_add:hover {
	color: #000;
	cursor: pointer;
}
.addnewBulb {
	display: none;
	position:absolute;
	z-index: 4;
	background-image: url('./61.png');
	background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: block;
}
