<%- include header %>

<div class="container">
    
    <div class="author">
        <div class="author_pic"></div>
        <h3 class="author_name">miaomiao</h3>
        <ul class="funlist">
            <li><a href="/">我的首页</a></li>
            <li><a href="">我的笔记</a></li>
            <li><a href="/addnote">新建笔记</a></li>
            <li><a href="">我的标签</a></li>
            <li><a href="">占位区</a></li>
            <li><a href="">我的笔记</a></li>
            <li><a href="">新建笔记</a></li>
            <li><a href="">我的标签</a></li>
        </ul>
    </div>
    <div class="new_article_box" id="new_article_box">
        <form id="addnote_form">
            <input type="text" id="addnote_title" name="title" placeholder="题目" class="title">
            <textarea rows="15" id="addnote_con" name="content" class="content" placeholder="正文"></textarea>
            <input type="text" name="tags" placeholder="标签(用,隔开)" class="tags">
            <input type="button" id="addnote_sub_btn" value="提交笔记" class="submit">
        </form>
        <div class="new_status" id="new_status_box">
            <p class="new_status_content" id="new_status_content"><span id="new_status"></span><a href="" id="new_title"></a></p>
        </div>
    </div>
</div>


<!--     <div class="total-container">
        <div class="first-note">This is page1+1+bs.</div>
        <br>
        <div id="draw" class="image-example-page1"></div>
    </div> -->

    <div>
        <span>react:</span>
        <div id="react_demo"></div>
    </div>
    


    <script src="/page1/bundle.js"></script>
    <% if (env !== "production" && reload === true) { %>
        <script src="/reload/reload.js"></script>
    <% } %>
</body>
</html>
