<!DOCTYPE html>
<html>
<head>
	<title></title>
	<% if (env === "production") { %>
        <link rel="stylesheet" href="/page1/index.css">
    <% } %>
</head>
<body>

<div>状态：</div>
<% if (success) { %>
    <div><%= success %></div>
<% } %>
<% if (error) { %>
    <div><%= error %> </div>
<% } %>

<div>登录态：</div>
<div>
	<% if (user) { %>
		<a title="登出" href="/logout">登出</a>
	<% } else { %>
		<a title="登录" href="/login">登录</a><br>
		<a title="注册" href="/reg">注册</a><br>
	<% } %>
</div>
