<%- include header %>

<div class="container">
    
    <%- include funlist %>

    <div class="indexpage_box">
        首页
    </div>
</div>


<!--     <div class="total-container">
        <div class="first-note">This is page1+1+bs.</div>
        <br>
        <div id="draw" class="image-example-page1"></div>
    </div> -->
    

<%- include footer %>
