<%- include header %>
<% if (env === "production") { %>
    <link rel="stylesheet" href="/addnote/index.css">
<% } %>
<div class="container">
    
    <%- include funlist %>
    <div class="mynote_box">
        
    </div>
</div>

<%- include footer %>
