@import '../common/common';

.mytags_box {
	width: 75%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	box-sizing: border-box;

	.tags_box {
		padding: 20px 0 20px;
		border-bottom: 2px solid #ddd;

		a {
			display: inline-block;
			padding: 4px 6px;
			border: 1px dotted #bbbaba;
		    border-radius: 2px;
		    margin: 0 5px 8px;
		    text-decoration: none;
		}
		a:hover {
			background-color: #412CD8;
			color: #fff;
		}
	}
	.notes_box {
		padding: 20px 5px 20px;
		.note_title {
			display: inline-block;
			text-decoration: none;
			color: #000;
			margin: 5px 0;
		}
		.note_title:hover {
			text-decoration: underline;
		}
		li {
			.note_edit, span {
				padding: 5px;
				color: #A2A1A1;
				float: right;
				cursor: pointer;
				line-height: 18px;
				text-decoration: none;
			}
			.note_edit:hover, span:hover {
				text-decoration: underline;
				color: #fff;
				background-color: #ddd;
				border-radius: 2px;
			}
		}
	}
}