@import '../common/common';

.container {
	width: 100%;
	position: relative;
}
.author {
	width: 25%;
	min-width: 150px;
	background-color: #e8e8e8;
	background-size: 100%;
	border: 1px solid transparent;
}
.author_pic {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 20px auto 10px;
	box-sizing: border-box;
	border: 4px solid #7d7d7d;
	background: url(bottle.jpg) no-repeat;
	background-size: cover;
}
.author_name {
	text-align: center;
}
.funlist {
	margin-top: 50px;
	li {
		list-style: none;
		text-align: center;
		font-size: 22px;
		font-weight: 500;
		padding: 10px 0;
		margin: 0px 30px;
		border-top: 1px solid #CACACA;
	}
	li:first-child {
		border-top: 0px solid transparent;
	}
}


.article_box {
	width: 75%;
	height: 500px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #AEFBE9;
}
.first-note {
    color: yellow;
    font-size: 14px;
    text-align: left;
}

.image-example-page1 {
    width: 150px;
    height: 150px;
    background: url(page_1_image.jpg) no-repeat;
}
