body {
    background: #fff;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
ul, li {
	margin: 0;
	padding: 0;
}

.total-container {
    width: 160px;
    margin: 10px 0 0 10px;
    padding: 10px;
    border: 1px dotted #369;
}

.image-example-common {
    width: 60px;
    height: 60px;
    background: url(common_image.png) no-repeat;
}