@import '../common/common.css';

.mynote_box {
	width: 75%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	box-sizing: border-box;
}
.mynote_box li {
	padding: 10px 0;
	list-style: none;
	border-top: 2px solid #ddd;
}
.mynote_box li:nth-child(1) {
	border-top: 2px solid transparent;
}
.mynote_box a {
	text-decoration: none;
}
.note_title {
	color: #000000;
}
.read_times {
	display: inline-block;
	margin-right: 10px;
}
.tag {
	padding: 2px;
}
.tag:hover {
	background-color: #9D9D9D;
	color: #fff;
}